
.bigLoad{
  z-index: 50;
  border: 3px double #007bff ;
  padding-bottom: 10px;
}
.miniloads{
  position: fixed;
  top: 65px;
  height: 250px;
  right: 0;
  left: 230px;
  background-color:  white;
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none ;
  scrollbar-width: none;
}
.miniloads::-webkit-scrollbar {
  display: none;
}
.frontloadDisplay{
  height: 230px;
  border: 2px  double #007bff  ;
  width: 250px;
  margin: 7px;
  white-space: normal;
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  overflow: hidden;
}
.frontloadDisplay > p {
  margin-bottom: 8px;
  font-size: medium;
  color: rgb(151, 159, 165);
  font-size: 17px;
}
.frontloadDisplay >h3{
  margin: 7px;
}
.spaninMini{
  margin: 4px;
  color: white;
  font-size: 16px;
}

/* Small screens (less than 576px) */
@media only screen and (max-width: 575px) {
.miniloads{
  left: 0;
}

}

/* Medium screens (between 576px and 992px) */
@media only screen and (min-width: 576px) and (max-width: 991px) {
  .miniloads{
    left: 0;
  }
}

/* Large screens (greater than 1200px) */
@media only screen and (min-width: 1200px) {
  
}