.mainDiv{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #23242a;
  z-index: 200;
  overflow: auto;
  padding-top: 195px;
}
.placeHolder{
  position: fixed;
  top: 0;
  height: 35px;
  left: 0;
  right: 0;
  color: white;
  background-color: white;
}
.bigDisplay{
  width:100%;
  background-color: #000080;
  padding-top: 60px;
  height: 100px;
  position: fixed;
  top: 35px;
  left: 0;
  right: o;
}
.imageAndCatchText{
  display: flex;
  justify-content: space-evenly;
  height: 600px;
 margin-bottom: 70px; 
 padding-top: 10px;
  background-color: #000080;
}
h1{
  color :  #1E90FF    ;
  font-size: 40px;
}
.frstTextDiv > h3 > span{
  color: #FF0000;
}
.flexIterms{
  display: flex;
}
.first{
  width: 270px;
  margin-left: 30px;
  
}
.scnd{
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items:last baseline;
}
.fifth{
 
  margin-right: 100px; 
}
.moreINfo{
  
  display: flex;
  justify-content: space-evenly;
  background-color: #4B0082 ;
  padding: 70px;
  margin-bottom: 50px;
}
.introBtn{
  background-color:#0000FF  ;
  border: none;
  border-radius: 100px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
.frstTextDiv{
  width: 450px;
  margin-right:100px ;
  padding-top: 30px;
}
.scndImg{
  height: 500px;
  width: 500px;
  border-radius: 5%;
}
.wlcmImage{
  width: 550px;
  border-radius: 5%;
}
.wlcmText{
  width: 500px;
  height: 100%;
}
p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
  font-weight: 100;
}
.lastDiv{
  height: 400px;
  background-color: #000080;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 500px;
  margin-top: 75px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBelowFirstINtro{
    margin-left: 150px;
    margin-right: 100px;
    margin-bottom: 60px;
}
.textBelowFirstINtro > p{
  color: grey;
  text-align: center;
}
.textBelowFirstINtro > h2{
  font-size: 40px;

}
.fordwardWord{
  
  margin-left: 280px;
}
.textBelowFirstINtro > h2 > span{
  border-bottom: 7px solid #0000FF ;
}