body{
 border: none;
 margin: 0;

 padding-top: 100px;
 padding-left: 240px;

 background-color:  #23242a;
}
p{
  margin: 0;
}
h2{
  margin: 0;
}
/* Small screens (less than 576px) */
@media only screen and (max-width: 575px) {
  body {
    padding-top: 60px; /* Reduce top padding */
    padding-left: 20px; /* Reduce left padding */
  }
}

/* Medium screens (between 576px and 992px) */
@media only screen and (min-width: 576px) and (max-width: 991px) {
  body {
    padding-top: 70px; /* Adjust top padding */
    padding-left: 60px; /* Adjust left padding */
  }
}

/* Large screens (greater than 1200px) */
@media only screen and (min-width: 1200px) {
  body {
    padding-top: 300px; /* Restore top padding */
    padding-left: 240px; /* Restore left padding */
  }
}